<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="post.css">
    <script src="index.js"></script>
</head>

<body>
    <main id="story-container">
        <section id="article">
            <figure>
                <text-container>
                    <img id="article-image"
                        src="/home/andrew/Development/Share-Articles-On-Instagram-Stories/backgrounds/Firefly20240315182503.png">
                    <text-overlay id="text-overlay">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                        et nibh
                        sollicitudin,
                        iaculis nunc ac, volutpat nulla. Duis vel velit vel enim ornare varius. Ut dictum turpis at leo
                        interdum dapibus vitae sodales tortor. Quisque a eros fringilla, pulvinar justo sed, rutrum
                        mauris. Proin ut ex justo. Morbi gravida risus in lacus cursus convallis. Praesent finibus nibh
                        sit amet metus lobortis vehicula. Vivamus eu lobortis felis. Morbi rhoncus mauris nec mi gravida
                        ultricies. Sed consequat at nisl ac dapibus. Maecenas a tortor eget eros ullamcorper viverra.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce
                        pretium suscipit augue in ultrices. Suspendisse imperdiet pellentesque ligula a finibus.
                    </text-overlay>
                </text-container>
            </figure>
        </section>
    </main>

    <a href="https://jacobpadilla.com" style="display: none;">Created by Jacob Padilla</a>
</body>

</html>
